@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@font-face { 
  font-family: "Cyber";
  src: url("assets/Cyber.ttf"); 
}

a {
  color: #4A4A4A;
}

a:hover {
  color: #a1a1a1;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #232B2B;
}

p {
  font-size: 18px;
}

div {
  font-size: 18px;
}

hr {
  background-color: #DBDFEA;
}

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:disabled {
  background: transparent;
  border-color: #4A4A4A;
  box-shadow: none;
  color: #232B2B;
  border-radius: 13px;
}

.btn-primary:hover {
  background: transparent;
  border-color: #232B2B;
  font-weight: bold;
  box-shadow: none;
  color: #232B2B;
  border-radius: 13px;
}


.btn-Network, .btn-Network:active, .btn-Network:focus, .btn-Network:disabled {
  background: transparent;
  border-color: #00CC33;
  font-size:18px;
  box-shadow: none;
  color: #4A4A4A;
  border-radius: 13px;
}

.btn-Network:hover {
  color: #4A4A4A;
  font-size:18px;
  font-weight: bold;
  border-color: #00CC33;
  box-shadow: none;
  background: transparent;
  border-radius: 13px;
}

.btn-Domain, .btn-Domain:active, .btn-Domain:focus, .btn-Domain:disabled {
  background: #00CC33;
  border-color: #00CC33;
  font-size:18px;
  box-shadow: 1px;
  color: #DBDFEA;
  border-radius: 13px;
}

.btn-Domain:hover {
  background: #00CC33;
  border-color: #00CC33;
  font-size:18px;
  box-shadow: 1px;
  font-weight: bold;
  color: #DBDFEA;
  border-radius: 13px;
}

.btn-Disconnected, .btn-Disconnected:active, .btn-Disconnected:focus, .btn-Disconnected:disabled {
  background: #a1a1a1;
  border-color: #00CC33;
  font-size:18px;
  box-shadow: none;
  color: #ffffff;
  border-radius: 13px;
}

.btn-Disconnected:hover {
  background: #a1a1a1;
  border-color: #00CC33;
  font-size:18px;
  font-weight: bold;
  box-shadow: none;
  color: #ffffff;
  border-radius: 13px;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:disabled {
  background: transparent;
  border-color: #4A4A4A;
  box-shadow: none;
  color: #232B2B;
}

.btn-secondary:hover {
  background: transparent;
  border-color: #4A4A4A;
  font-weight: bold;
  box-shadow: none;
  color: #232B2B;  background: #ffffff;
}

.container {
  background: transparent;
  padding: 20px;
  border-radius: 13px;
  border: 1px solid #00CC33;
}

.img-thumbnail {
  background-color: transparent;
}

.modal-content {
  color: black;
}

.span-link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.span-link {
  text-decoration: underline;
}

.Vue-Toastification__toast--info {
  background-color: #3a1174;
  border: 1px solid #DBDFEA;
}

.Vue-Toastification__toast--success {
  background-color: #4b7411;
  border: 1px solid #DBDFEA;
}

.Vue-Toastification__toast--error {
  background-color: #741911;
  border: 1px solid #DBDFEA;
}

@media only screen and (max-width: 767px) {
  #sidebar-container {
    margin-bottom: 15px;
  }
}